<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %} {% endblock %} - FlaskApp</title>
  <style>
    .message {
      padding: 10px;
      margin: 5px;
      background-color: #f3f3f3;
    }

    nav a {
      color: #d64161;
      font-size: 1.5em;
      margin-left: 50px;
      text-decoration: none;
    }

    .alert {
      padding: 10px;
      margin: 5px;
      background-color: #f3f3f3;
      color: #d64161;
      display: none;
    }

    .success {
      padding: 10px;
      margin: 5px;
      background-color: #f3f3f3;
      color: #2e8b57;
    }
  </style>
  <script src="{{ url_for('static', filename='js/custom.js') }}" defer></script>
</head>

<body>
  <nav>
    <a href="{{ url_for('main.index') }}">Hello</a>
    <a href="{{ url_for('main.form') }}">Form</a>
    <a href="{{ url_for('main.async_form') }}">Form (async)</a>
    <a href="{{ url_for('main.messages') }}">Messages</a>
    <a href="{{ url_for('main.about') }}">About</a>
  </nav>
  <hr />
  <div class="content">
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
